<form role="search" method="get" class="search-form form-inline" action="{{ search_form_action }}">
    <input type="search" id="{{ search_form_id }}" class="form-control search-control"
           placeholder="{{ function('pll__', 'Поиск') }}…" value="{{ search_form_value }}" name="s">
    <button type="submit" class="search-submit btn btn-brand btn-round-none">
        {{ function('pll__', 'Найти') }}
    </button>
</form>