<a href="{{ function('pll__', 'telegram url') }}" target="_blank" rel="dofollow noopener noreferrer"
   class="media-icons btn btn-sm btn-secondary {{ social_share_class }}" role="link"
   aria-pressed="true">
    {{ function('twentyseventeen_get_svg', {'icon' : 'tlg', 'class' : social_share_size_class}) }}
</a>
<a href="https://www.facebook.com/was.by.depositphotos/" target="_blank"
   rel="dofollow noopener noreferrer"
   class="media-icons btn btn-sm btn-secondary {{ social_share_class }}" role="link"
   aria-pressed="true">
    {{ function('twentyseventeen_get_svg', {'icon' : 'fb', 'class' : social_share_size_class}) }}
</a>
<a href="https://twitter.com/was_dot_media" target="_blank" rel="dofollow noopener noreferrer"
   class="media-icons btn btn-sm btn-secondary {{ social_share_class }}" role="link"
   aria-pressed="true">
    {{ function('twentyseventeen_get_svg', {'icon' : 'wasted', 'class' : social_share_size_class}) }}
</a>
<a href="{{ function('pll__', 'itunes url') }}" target="_blank" rel="dofollow noopener noreferrer"
   class="media-icons btn btn-sm btn-secondary {{ social_share_class }}" role="link"
   aria-pressed="true">
    {{ function('twentyseventeen_get_svg', {'icon' : 'itunes', 'class' : social_share_size_class}) }}
</a>