<%- include inc/head -%>
<%- include inc/header -%>

<%- include inc/nav-mobile -%>

<div class="pro_main layout_main">
    <div class="row">
        <section class="post-preview col o-1 format-standard">

            <article id="post-49624"
                     class="post-preview col o-1 format-micro invert_text_color  post-49624 microformats type-microformats status-publish has-post-thumbnail hentry"
                     data-component-slug="krasnyj-big-bang">

                <a class="lnk-entry" href="https://was.media/microformats/krasnyj-big-bang/" rel="bookmark">
                    <div class="post-entry">
                        <header class="entry-header">
                            <div class="date-entry">
                            </div>

                            <div class="views-entry">

                                <svg class="icon icon-eye " aria-hidden="true" role="img">
                                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                </svg>


                                <div id="counter-data-49624">604</div>


                            </div>

                        </header>

                        <section class="entry-content">
                            <h2 class="h1 h-entry">Красный Big Bang: Как три еврея поссорили болгарских коммунистов с
                                украинскими</h2>

                        </section>

                        <footer class="entry-footer">
                        </footer>
                    </div>

                </a>
            </article>

            <article id="post-49498"
                     class="post-preview col o-2 format-micro invert_text_color  post-49498 microformats type-microformats status-publish has-post-thumbnail hentry micro_tag-ljubov micro_tag-mafija micro_tag-seks micro_tag-ssha"
                     data-component-slug="radi-ljubvi-i-smeny-pola">


                <a class="lnk-entry" href="https://was.media/microformats/radi-ljubvi-i-smeny-pola/" rel="bookmark">

                    <div class="post-entry">
                        <header class="entry-header">

                            <div class="date-entry">


                            </div>

                            <div class="views-entry">

                                <svg class="icon icon-eye " aria-hidden="true" role="img">
                                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                </svg>


                                <div id="counter-data-49498">2360</div>


                            </div>

                        </header>

                        <section class="entry-content">
                            <h2 class="h1 h-entry">Ради смены пола: самое нелепое ограбление банка</h2>

                        </section>

                        <footer class="entry-footer">
                        </footer>
                    </div>

                </a>
            </article>

            <article id="post-49442"
                     class="post-preview col o-3 format-micro invert_text_color  post-49442 microformats type-microformats status-publish has-post-thumbnail hentry micro_tag-arheologija micro_tag-afrika micro_tag-gory micro_tag-drevnij-mir"
                     data-component-slug="gorcy-krotokrysy">


                <a class="lnk-entry" href="https://was.media/microformats/gorcy-krotokrysy/" rel="bookmark">

                    <div class="post-entry">
                        <header class="entry-header">

                            <div class="date-entry">


                            </div>

                            <div class="views-entry">

                                <svg class="icon icon-eye " aria-hidden="true" role="img">
                                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                </svg>


                                <div id="counter-data-49442">3881</div>


                            </div>

                        </header>

                        <section class="entry-content">
                            <h2 class="h1 h-entry">Жизнь в стиле Fallout: горцы ледникового периода выживали благодаря
                                кротокрысам</h2>

                        </section>

                        <footer class="entry-footer">
                        </footer>
                    </div>

                </a>
            </article>

        </section>


        <article id="post-49387"
                 class="post-preview col o-2  post-49387 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-11-vek tag-vizantija tag-vlast tag-evropa tag-norvegija tag-kievskaja-rus"
                 data-component-slug="saga-o-haralde">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2019/08/coverWAS_Ostanniy_korol_SNPT.png?auto=format&amp;fit=crop&amp;h=510&amp;q=75&amp;rect=220%2C0%2C464%2C739&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-08-12-saga-o-haralde/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-49387">3472</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">Суровый зять Руси: сага о Харальде — последнем короле викингов</h2>

                    </section>

                    <footer class="entry-footer">

                    </footer>
                </div>

            </a>
        </article>

        <article id="post-48996"
                 class="post-preview col o-3  post-48996 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-20-vek tag-avstralija tag-byt tag-iskusstvo tag-usa tag-fem"
                 data-component-slug="bjetti-brodbent">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2019/08/tattoo2_cower.jpg?fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;rect=426%2C0%2C590%2C940&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-08-07-bjetti-brodbent/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-48996">5879</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">Партаки под чулками: шокирующая экзотика 20 века</h2>

                    </section>

                    <footer class="entry-footer">

                    </footer>
                </div>

            </a>
        </article>

        <article id="post-23335"
                 class="post-preview col o-4  post-23335 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-drevnij-mir tag-anc-rim tag-evropa tag-krov tag-medicina tag-science tag-srednevekove"
                 data-component-slug="istorija-pervoj-skoroj-pomoshhi">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2019/08/coverWAS_Krov_i_bol_CVR-1.png?auto=format&amp;crop=faces&amp;fit=crop&amp;h=510&amp;q=75&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-08-06-istorija-pervoj-skoroj-pomoshhi/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-23335">2014</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">Ждите амбуланс, через пару веков будет. Ранняя история скорой помощи</h2>

                    </section>

                    <footer class="entry-footer">

                    </footer>
                </div>

            </a>
        </article>

        <article id="post-48753"
                 class="post-preview col o-5  post-48753 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-katastrofy tag-moreplavanie tag-oruzhie tag-priroda tag-rossija tag-sssr tag-usa"
                 data-component-slug="podvodnyj-chernobyl">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2019/07/coverWAS_Podlodki.png?auto=format&amp;crop=faces&amp;fit=crop&amp;h=510&amp;q=75&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-07-31-podvodnyj-chernobyl/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-48753">18096</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">Чернобыль на дне: 6 атомных субмарин, которые угрожают мировому
                            океану</h2>

                    </section>

                    <footer class="entry-footer">

                    </footer>
                </div>

            </a>
        </article>

        <section class="jewelry jewelry-first-row post-preview" data-jewelry-name="main_first_row">

            <div class="metro-clock row">
                <div class="metro-clock-shell">
                    <div class="metro-clock-shell-inner">
                        <div class="metro-clock-shell-section">
                            <div class="digit" data-type="days">
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                            </div>
                            <div class="digit" data-type="days">
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="metro-clock-shell">
                    <div class="metro-clock-shell-inner">
                        <div class="metro-clock-shell-section glass-flare" style="margin-right: 5px;padding-right:6px">
                            <div class="digit" data-type="hours">
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                            </div>
                            <div class="digit" data-type="hours">
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                            </div>
                            <div class="spacer"></div>
                            <div class="digit" data-type="minutes">
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                            </div>
                            <div class="digit" data-type="minutes">
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                            </div>
                        </div>
                        <div class="metro-clock-shell-section glass-flare-reverse">
                            <div class="digit" data-type="seconds">
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                            </div>
                            <div class="digit" data-type="seconds">
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                                <div class="segment"><span></span><span></span><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <section class="post-preview col o-6 format-standard">


            <article id="post-49351"
                     class="post-preview col o-1 format-micro invert_text_color  post-49351 microformats type-microformats status-publish has-post-thumbnail hentry micro_tag-20-vek micro_tag-rossijskaja-imperija micro_tag-skoropadskyi micro_tag-specsluzhby micro_tag-sssr micro_tag-unr"
                     data-component-slug="getmanskoe-sbu">


                <a class="lnk-entry" href="https://was.media/microformats/getmanskoe-sbu/" rel="bookmark">

                    <div class="post-entry">
                        <header class="entry-header">

                            <div class="date-entry">


                            </div>

                            <div class="views-entry">

                                <svg class="icon icon-eye " aria-hidden="true" role="img">
                                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                </svg>


                                <div id="counter-data-49351">3132</div>


                            </div>

                        </header>

                        <section class="entry-content">
                            <h2 class="h1 h-entry">Гетманское СБУ: кто сидел на подвале Державной стражи
                                Скоропадского?</h2>

                        </section>

                        <footer class="entry-footer">
                        </footer>
                    </div>

                </a>
            </article>

            <article id="post-49324"
                     class="post-preview col o-2 format-micro invert_text_color  post-49324 microformats type-microformats status-publish has-post-thumbnail hentry micro_tag-20-vek micro_tag-aviacija micro_tag-argentina micro_tag-velikobritanija micro_tag-vojna"
                     data-component-slug="letuchie-ryby-protiv-britanskogo-flota">


                <a class="lnk-entry" href="https://was.media/microformats/letuchie-ryby-protiv-britanskogo-flota/"
                   rel="bookmark">

                    <div class="post-entry">
                        <header class="entry-header">

                            <div class="date-entry">


                            </div>

                            <div class="views-entry">

                                <svg class="icon icon-eye " aria-hidden="true" role="img">
                                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                </svg>


                                <div id="counter-data-49324">5878</div>


                            </div>

                        </header>

                        <section class="entry-content">
                            <h2 class="h1 h-entry">«Летучие рыбы» против британского флота</h2>

                        </section>

                        <footer class="entry-footer">
                        </footer>
                    </div>

                </a>
            </article>

            <article id="post-49289"
                     class="post-preview col o-3 format-micro invert_text_color  post-49289 microformats type-microformats status-publish has-post-thumbnail hentry micro_tag-17-vek micro_tag-18-vek micro_tag-getmanshhina micro_tag-krov micro_tag-mazepa micro_tag-tradicii"
                     data-component-slug="ukrainskij-drakula">


                <a class="lnk-entry" href="https://was.media/microformats/ukrainskij-drakula/" rel="bookmark">

                    <div class="post-entry">
                        <header class="entry-header">

                            <div class="date-entry">


                            </div>

                            <div class="views-entry">

                                <svg class="icon icon-eye " aria-hidden="true" role="img">
                                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                </svg>


                                <div id="counter-data-49289">6993</div>


                            </div>

                        </header>

                        <section class="entry-content">
                            <h2 class="h1 h-entry">Украинский Дракула: история гетманского упыря — любимца Мазепы</h2>

                        </section>

                        <footer class="entry-footer">
                        </footer>
                    </div>

                </a>
            </article>

        </section>


        <article id="post-46449"
                 class="post-preview col o-7  post-46449 post type-post status-publish format-image has-post-thumbnail hentry category-vse tag-vavilon tag-drevnij-mir tag-indija tag-religija tag-kievskaja-rus tag-sponsorskij-material post_format-post-format-image"
                 data-component-slug="kak-torgovali-predki">


            <img width="680" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2019/07/coverWAS_OLX_4.png?auto=format&amp;crop=faces&amp;fit=crop&amp;h=510&amp;q=75&amp;w=680"
                 class="attachment-format-image-cover size-format-image-cover wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-07-17-kak-torgovali-predki/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-46449">14566</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">За обман — божья кара. Как торговали предки</h2>

                    </section>

                    <footer class="entry-footer">
                        <p>Спонсорский материал</p>
                    </footer>
                </div>

            </a>
        </article>


        <article id="post-48245"
                 class="post-preview col o-8  post-48245 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-20-vek tag-vojna tag-kitaj tag-koreja tag-krov tag-sssr tag-usa tag-holodnaja-vojna"
                 data-component-slug="korejskaja-vojna-v-fotografijah">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2019/07/korea_cower.jpg?fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;rect=895%2C0%2C768%2C1225&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-07-25-korejskaja-vojna-v-fotografijah/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-48245">5883</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">Брат на брата: ужасы корейской войны в фотографиях</h2>

                    </section>

                    <footer class="entry-footer">

                    </footer>
                </div>

            </a>
        </article>

        <article id="post-48244"
                 class="post-preview col o-9  post-48244 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-vojna tag-getmanshhina tag-civil-war tag-kozaki tag-crimea tag-osmanskaya-imperiya tag-rech-pospolitaja tag-hmel"
                 data-component-slug="kak-hmelnickij-ukraincami-torgoval">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2019/07/coverWAS_Polonyanky_CVR.png?auto=format&amp;fit=crop&amp;h=510&amp;q=75&amp;rect=21%2C0%2C462%2C736&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-07-24-kak-hmelnickij-ukraincami-torgoval/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-48244">13524</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">Козаки-работорговцы. Как Хмельницкий украинцами торговал</h2>

                    </section>

                    <footer class="entry-footer">

                    </footer>
                </div>

            </a>
        </article>


        <div class="post-preview format-wide col newsletter-main o-10">
            <div class="post-entry newsletter-entry">
                <div class="newsletter-title">
                    <h2 class="h1 h-entry">
                        Рассылка по делу
                    </h2>
                </div>
                <form class="newsletter-form row no-gutters"
                      action="https://was.media/mail/check.php?lang=ru"
                      method="post">
                    <div class="input-group col input-fld">
                        <input type="email" name="EMAIL" class="form-control form-control-lg" id="inlineFormInputGroup"
                               placeholder="Email" required="required">
                    </div>
                    <div class="input-group col submit-fld">
                        <button type="submit" class="btn btn-block btn-xl btn-brand">
                            Подписаться
                        </button>
                        <small class="submit-txt">
                            Одно письмо в неделю с самыми актуальными материалами
                        </small>
                    </div>
                </form>
            </div>
        </div>


        <article id="post-19825"
                 class="post-preview col o-11  post-19825 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-20-vek tag-krov tag-mafija tag-prestupleniya tag-sssr tag-ukraina"
                 data-component-slug="kriminalnye-avtoritety">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2018/02/coverWAS_Kiyv_gangstr.png?auto=format&amp;crop=faces&amp;fit=crop&amp;h=510&amp;q=75&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-07-22-kriminalnye-avtoritety/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-19825">46846</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">Бандитский Киев 90-х и его авторитеты: 5 историй кровавого успеха</h2>

                    </section>

                    <footer class="entry-footer">

                    </footer>
                </div>

            </a>
        </article>

        <article id="post-47705"
                 class="post-preview col o-12  post-47705 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-19-vek tag-byt tag-iskusstvo tag-tradicii tag-japonija"
                 data-component-slug="fotografii-kusakabje-kimbjeja">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2019/07/fotografii-kusakabje-kimbjeja_was_cower.jpg?fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;rect=599%2C0%2C591%2C942&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-07-18-fotografii-kusakabje-kimbjeja/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-47705">58518</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">Опиум и самураи: старая Япония в цвете</h2>

                    </section>

                    <footer class="entry-footer">

                    </footer>
                </div>

            </a>
        </article>

        <article id="post-47604"
                 class="post-preview col o-13  post-47604 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-19-vek tag-medicina tag-prikljuchenija tag-psihologija tag-usa"
                 data-component-slug="legko-popast-nevozmozhno-pokinut">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2019/07/coverWAS_Dobrovolec_v_psihushke_SNP.png?auto=format&amp;fit=crop&amp;h=510&amp;q=75&amp;rect=591%2C0%2C464%2C739&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-07-18-legko-popast-nevozmozhno-pokinut/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-47604">4170</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">Попасть легко, уйти — невозможно: журналистка против американских
                            психбольниц</h2>

                    </section>

                    <footer class="entry-footer">

                    </footer>
                </div>

            </a>
        </article>


        <article id="post-41736"
                 class="post-preview col o-14  post-41736 post type-post status-publish format-image has-post-thumbnail hentry category-vse tag-germaniya tag-kiev tag-religija tag-kievskaja-rus tag-seks tag-ukraina tag-hristianstvo post_format-post-format-image"
                 data-component-slug="seks-skandal-11-veka">


            <img width="680" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2019/03/seks-skandal-11-stolittja_cower_02.jpg?fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;rect=675%2C0%2C1633%2C1225&amp;w=680"
                 class="attachment-format-image-cover size-format-image-cover wp-post-image" alt="" data-feature="1"/>


            <a class="lnk-entry" href="https://was.media/2019-04-02-seks-skandal-11-veka/" rel="bookmark">

                <div class="post-entry">
                    <header class="entry-header">

                        <div class="date-entry">


                        </div>

                        <div class="views-entry">

                            <svg class="icon icon-eye " aria-hidden="true" role="img">
                                <use href="#icon-eye" xlink:href="#icon-eye"></use>
                            </svg>


                            <div id="counter-data-41736">63267</div>


                        </div>

                    </header>

                    <section class="entry-content">
                        <h2 class="h1 h-entry">Внучка Ярослава Мудрого в секс-скандале 11 века</h2>

                    </section>

                    <footer class="entry-footer">

                    </footer>
                </div>

            </a>
        </article>


        <div class="readMore col o-15">
            <script>
                var ajaxurl = 'https://was.media/wp-admin/admin-ajax.php';
                var current_tag = 'false';
                var current_post_type = 'post';
                var not_in = '49387,48996,23335,48753,46449,48245,48244,19825,47705,47604,41736';
            </script>
            <button class="btn btn-xl btn-primary o-15" data-component="readmore"
                    data-options='{"isRow":"true","isOnClick":"true"}' type="button">
                <big>+</big>
                <span>Больше материалов</span>
            </button>
        </div>


    </div>
</div>

<%- include inc/aside-shares.ejs -%>

<%- include inc/footer -%>

<%- include inc/search-form -%>

<%- include inc/tags-nav -%>

<%- include inc/scripts -%>
