<%- include inc/head -%>
<%- include inc/header -%>

<%- include inc/nav-mobile -%>

<%- include inc/aside-shares.ejs -%>

<main id="main" class="site-main" role="main">
    <article id="post-21608" class="article-main">
        <section class="article-cover pro_main">
            <div class="layout_main">
                <div class="row no-gutters">
                    <div class="col format-wide post format-standard">
                        <header class="col page-header"><h1 class="page-title display-3">Реклама на WAS</h1></header>
                    </div>
                </div>
            </div>
        </section>
        <section class="article-content editor">
            <div class="editor_txt">
                <div class="layout_main">
                    <div class="editor_default editor_offset"><span class="edit-link"><a class="post-edit-link"
                                                                                         href="https://was.media/wp-admin/post.php?post=21608&#038;action=edit">Edit<span
                                        class="lnkTxt"> "Реклама на WAS"</span></a></span>
                        <h2 class="article-lead h4"><p class="article-lead">Любой сильный бренд знает цену хорошей
                                истории. Рассказывать такие истории — наше главное ремесло.</p></h2>
                    </div>
                </div>
            </div>
            <div class="editor_txt" style="">
                <div class="layout_main layout_aside">
                    <div class="editor_aside_offset editor_aside"><h3>Форматы:</h3>
                        <p>— лонгриды;</p>
                        <p>— тесты;</p>
                        <p>— игры;</p>
                        <p>— видео.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p></div>
                    <div class="editor_offset editor_default"><h3></h3>
                        <h3>Журнал потрясающих историй:</h3>
                        <p>— затягивающие лонгриды;</p>
                        <p>— броские коллажи;</p>
                        <p>— сторителлинг и стеб.</p></div>
                </div>
            </div>
            <div class="editor_txt" style="">
                <div class="layout_main">
                    <div class="editor_offset editor_default"><h3></h3>
                        <h3>355 637</h3>
                        <p>уникальных посетителей в месяц</p>
                        <h3>759 089</h3>
                        <p>просмотров страниц</p></div>
                </div>
            </div>
            <div class="editor_txt" style="">
                <div class="layout_main layout_aside">
                    <div class="editor_aside_offset editor_aside"><h3>51%</h3>
                        <p>женщин</p>
                        <h3>49%</h3>
                        <p>мужчин</p></div>
                    <div class="editor_offset editor_default"><h3></h3>
                        <h3>04:24</h3>
                        <p>в среднем читатели проводят на сайте</p>
                        <h3>61 603</h3>
                        <p>подписчиков в Фейсбуке</p></div>
                </div>
            </div>
            <div class="editor_txt" style="">
                <div class="layout_main">
                    <div class="editor_offset editor_default"><h3>Возраст читателей</h3></div>
                </div>
            </div>
            <div class=" editor_media " style="">
                <div class="layout_main">
                    <div class=" editor_offset editor_default" data-showcredits="false" data-makeresponsive="true">
                        <figure class=" figure "><img width="565" height="163"
                                                      data-thumb="https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=70&q=75&w=98"
                                                      class="wp-post-image" title="was_one_page_stats"
                                                      src="https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=565"
                                                      srcset="https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=320 320w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=565 565w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=768 768w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=785 785w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=680 680w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=1041 1041w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=162 162w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=1041 1041w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=314 314w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=600 600w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=600 600w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=600 600w,https://was.imgix.net/wp-content/uploads/2019/09/was_one_page_stats.png?auto=format&crop=faces&fit=crop&h=null&q=75&w=98 98w"
                                                      sizes="(min-width: 36em) 565px, 100vw" alt=""/></figure>
                    </div>
                </div>
            </div>
            <div class="editor_txt" style="">
                <div class="layout_main">
                    <div class="editor_offset editor_default"><h3>Примеры наших спецпроектов с брендами</h3></div>
                </div>
            </div>
            <div class="editor_elastic">
                <div class="layout_main">
                    <div class="editor_offset editor_img-lg">
                        <div class=" swiper-container swiper-elastic " data-component="slider" data-config="elastic">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-wrapper">
                                <article id="post-22933"
                                         class="post-preview col o-0 format-elastic post-22933 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-19-vek tag-katastrofy tag-moreplavanie tag-puteshestvija tag-special"
                                         data-component-slug="170-let-vo-ldah-chto-ubilo-ekspediciju-dzhona-franklina">
                                    <img width="320" height="510"
                                         src="https://was.imgix.net/wp-content/uploads/2018/02/coverWAS_frankl_ex.png?auto=format&amp;crop=faces&amp;fit=crop&amp;h=510&amp;q=75&amp;w=320"
                                         class="attachment-thumbnail size-thumbnail wp-post-image" alt=""
                                         data-feature="1" srcset=" "/> <a class="lnk-entry"
                                                                          href="https://was.media/2018-04-06-170-let-vo-ldah-chto-ubilo-ekspediciju-dzhona-franklina/"
                                                                          rel="bookmark">
                                        <div class="post-entry">
                                            <header class="entry-header">
                                                <div class="views-entry">
                                                    <svg class="icon icon-eye " aria-hidden="true" role="img">
                                                        <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                                    </svg>
                                                    <div id="counter-data-22933">43594</div>
                                                    <script>
                                                        if ('off' === 'on') {
                                                            var xmlhttp = new XMLHttpRequest();
                                                            xmlhttp.onreadystatechange = function () {
                                                                if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                                                                    if (xmlhttp.status === 200) {
                                                                        document.getElementById('counter-data-22933').innerHTML = xmlhttp.responseText.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
                                                                    }
                                                                }
                                                            };
                                                            xmlhttp.open('GET', '/wp-content/plugins/fox-ajax-counter/ajax_counter.php?id=22933&count=off', true);
                                                            xmlhttp.send();
                                                        } else {
                                                            document.getElementById('counter-data-22933').innerHTML = "43 594";
                                                        }
                                                    </script>
                                                </div>
                                            </header>
                                            <section class="entry-content"><h2 class="h1 h-entry">170 лет во льдах: Что
                                                    убило экспедицию Джона Франклина</h2></section>
                                            <footer class="entry-footer"><p>Cпецпроект</p></footer>
                                        </div>
                                    </a></article>
                                <article id="post-25206"
                                         class="post-preview col o-0 format-elastic post-25206 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-vlast tag-evropa tag-krov tag-mongoly tag-special tag-srednevekove tag-ukraina"
                                         data-component-slug="nedalnovidnost-praviteley"><img width="320" height="510"
                                                                                              src="https://was.imgix.net/wp-content/uploads/2018/05/coverWAS_LuxOptika_new.png?auto=format&amp;crop=faces&amp;fit=crop&amp;h=510&amp;q=75&amp;w=320"
                                                                                              class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                              alt="" data-feature="1"
                                                                                              srcset=" "/> <a
                                            class="lnk-entry"
                                            href="https://was.media/2018-05-30-nedalnovidnost-praviteley/"
                                            rel="bookmark">
                                        <div class="post-entry">
                                            <header class="entry-header">
                                                <div class="views-entry">
                                                    <svg class="icon icon-eye " aria-hidden="true" role="img">
                                                        <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                                    </svg>
                                                    <div id="counter-data-25206">24636</div>
                                                    <script>
                                                        if ('off' === 'on') {
                                                            var xmlhttp = new XMLHttpRequest();
                                                            xmlhttp.onreadystatechange = function () {
                                                                if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                                                                    if (xmlhttp.status === 200) {
                                                                        document.getElementById('counter-data-25206').innerHTML = xmlhttp.responseText.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
                                                                    }
                                                                }
                                                            };
                                                            xmlhttp.open('GET', '/wp-content/plugins/fox-ajax-counter/ajax_counter.php?id=25206&count=off', true);
                                                            xmlhttp.send();
                                                        } else {
                                                            document.getElementById('counter-data-25206').innerHTML = "24 636";
                                                        }
                                                    </script>
                                                </div>
                                            </header>
                                            <section class="entry-content"><h2 class="h1 h-entry">7 поразительных
                                                    примеров исторической недальновидности</h2></section>
                                            <footer class="entry-footer"><p>Cпецпроект</p></footer>
                                        </div>
                                    </a></article>
                                <article id="post-25709"
                                         class="post-preview col o-0 format-elastic post-25709 post type-post status-publish format-standard has-post-thumbnail hentry category-games tag-19-vek tag-20-vek tag-kiev tag-special tag-test tag-ukraina"
                                         data-component-slug="test-stariy-kiev"><img width="320" height="510"
                                                                                     src="https://was.imgix.net/wp-content/uploads/2011/05/coverWAS_Gulliver-1.png?auto=format&amp;crop=faces&amp;fit=crop&amp;h=510&amp;q=75&amp;w=320"
                                                                                     class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                     alt="" data-feature="1"
                                                                                     srcset=" "/> <a class="lnk-entry"
                                                                                                     href="https://was.media/2018-05-31-test-stariy-kiev/"
                                                                                                     rel="bookmark">
                                        <div class="post-entry">
                                            <header class="entry-header">
                                                <div class="views-entry">
                                                    <svg class="icon icon-eye " aria-hidden="true" role="img">
                                                        <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                                    </svg>
                                                    <div id="counter-data-25709">14647</div>
                                                    <script>
                                                        if ('off' === 'on') {
                                                            var xmlhttp = new XMLHttpRequest();
                                                            xmlhttp.onreadystatechange = function () {
                                                                if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                                                                    if (xmlhttp.status === 200) {
                                                                        document.getElementById('counter-data-25709').innerHTML = xmlhttp.responseText.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
                                                                    }
                                                                }
                                                            };
                                                            xmlhttp.open('GET', '/wp-content/plugins/fox-ajax-counter/ajax_counter.php?id=25709&count=off', true);
                                                            xmlhttp.send();
                                                        } else {
                                                            document.getElementById('counter-data-25709').innerHTML = "14 647";
                                                        }
                                                    </script>
                                                </div>
                                            </header>
                                            <section class="entry-content"><h2 class="h1 h-entry">Не заблудитесь ли вы в
                                                    старом Киеве</h2></section>
                                            <footer class="entry-footer"><p>Cпецпроект</p></footer>
                                        </div>
                                    </a></article>
                                <article id="post-29038"
                                         class="post-preview col o-0 format-elastic post-29038 post type-post status-publish format-standard has-post-thumbnail hentry category-games tag-byt tag-ljubov tag-kievskaja-rus tag-semejnaja-drama tag-special tag-test tag-ukraina"
                                         data-component-slug="test-pochuvstvujte-sebja-knjaginej"><img width="320"
                                                                                                       height="510"
                                                                                                       src="https://was.imgix.net/wp-content/uploads/2018/07/coverWAS_test_Knyagini_2.png?auto=format&amp;crop=faces&amp;fit=crop&amp;h=510&amp;q=75&amp;w=320"
                                                                                                       class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                       alt=""
                                                                                                       data-feature="1"
                                                                                                       srcset=" "/> <a
                                            class="lnk-entry"
                                            href="https://was.media/2018-07-12-test-pochuvstvujte-sebja-knjaginej/"
                                            rel="bookmark">
                                        <div class="post-entry">
                                            <header class="entry-header">
                                                <div class="views-entry">
                                                    <svg class="icon icon-eye " aria-hidden="true" role="img">
                                                        <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                                    </svg>
                                                    <div id="counter-data-29038">23061</div>
                                                    <script>
                                                        if ('off' === 'on') {
                                                            var xmlhttp = new XMLHttpRequest();
                                                            xmlhttp.onreadystatechange = function () {
                                                                if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                                                                    if (xmlhttp.status === 200) {
                                                                        document.getElementById('counter-data-29038').innerHTML = xmlhttp.responseText.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
                                                                    }
                                                                }
                                                            };
                                                            xmlhttp.open('GET', '/wp-content/plugins/fox-ajax-counter/ajax_counter.php?id=29038&count=off', true);
                                                            xmlhttp.send();
                                                        } else {
                                                            document.getElementById('counter-data-29038').innerHTML = "23 061";
                                                        }
                                                    </script>
                                                </div>
                                            </header>
                                            <section class="entry-content"><h2 class="h1 h-entry"><span
                                                            class="siteHeader-header">Тест</span> Почувствуйте себя
                                                    княгиней</h2></section>
                                            <footer class="entry-footer"><p>Cпецпроект</p></footer>
                                        </div>
                                    </a></article>
                                <article id="post-30492"
                                         class="post-preview col o-0 format-elastic post-30492 post type-post status-publish format-standard has-post-thumbnail hentry category-games tag-alkogol tag-muzyka tag-special tag-test tag-tradicii"
                                         data-component-slug="party-hard-past"><img width="320" height="510"
                                                                                    src="https://was.imgix.net/wp-content/uploads/2018/07/coverWAS_J.png?auto=format&amp;fit=crop&amp;h=510&amp;q=75&amp;rect=60%2C0%2C462%2C736&amp;w=320"
                                                                                    class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                    alt="" data-feature="1" srcset=" "/>
                                    <a class="lnk-entry" href="https://was.media/2018-10-30-party-hard-past/"
                                       rel="bookmark">
                                        <div class="post-entry">
                                            <header class="entry-header">
                                                <div class="views-entry">
                                                    <svg class="icon icon-eye " aria-hidden="true" role="img">
                                                        <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                                    </svg>
                                                    <div id="counter-data-30492">15670</div>
                                                    <script>
                                                        if ('off' === 'on') {
                                                            var xmlhttp = new XMLHttpRequest();
                                                            xmlhttp.onreadystatechange = function () {
                                                                if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                                                                    if (xmlhttp.status === 200) {
                                                                        document.getElementById('counter-data-30492').innerHTML = xmlhttp.responseText.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
                                                                    }
                                                                }
                                                            };
                                                            xmlhttp.open('GET', '/wp-content/plugins/fox-ajax-counter/ajax_counter.php?id=30492&count=off', true);
                                                            xmlhttp.send();
                                                        } else {
                                                            document.getElementById('counter-data-30492').innerHTML = "15 670";
                                                        }
                                                    </script>
                                                </div>
                                            </header>
                                            <section class="entry-content"><h2 class="h1 h-entry"><span
                                                            class="siteHeader-header">Тест</span> Как выжить на рейвах
                                                    прошлого</h2></section>
                                            <footer class="entry-footer"><p>Cпецпроект</p></footer>
                                        </div>
                                    </a></article>
                                <article id="post-34105"
                                         class="post-preview col o-0 format-elastic post-34105 post type-post status-publish format-standard has-post-thumbnail hentry category-games tag-20-vek tag-vojna tag-vtoraja-mirovaja tag-moreplavanie tag-nacisty tag-special tag-test"
                                         data-component-slug="podvodnye-lodki-gitlera"><img width="320" height="510"
                                                                                            src="https://was.imgix.net/wp-content/uploads/2018/10/coverWAS_DB.png?auto=format&amp;fit=crop&amp;h=510&amp;q=75&amp;rect=706%2C0%2C464%2C739&amp;w=320"
                                                                                            class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                            alt="" data-feature="1"
                                                                                            srcset=" "/> <a
                                            class="lnk-entry"
                                            href="https://was.media/2018-11-14-podvodnye-lodki-gitlera/" rel="bookmark">
                                        <div class="post-entry">
                                            <header class="entry-header">
                                                <div class="views-entry">
                                                    <svg class="icon icon-eye " aria-hidden="true" role="img">
                                                        <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                                    </svg>
                                                    <div id="counter-data-34105">26550</div>
                                                    <script>
                                                        if ('off' === 'on') {
                                                            var xmlhttp = new XMLHttpRequest();
                                                            xmlhttp.onreadystatechange = function () {
                                                                if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                                                                    if (xmlhttp.status === 200) {
                                                                        document.getElementById('counter-data-34105').innerHTML = xmlhttp.responseText.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
                                                                    }
                                                                }
                                                            };
                                                            xmlhttp.open('GET', '/wp-content/plugins/fox-ajax-counter/ajax_counter.php?id=34105&count=off', true);
                                                            xmlhttp.send();
                                                        } else {
                                                            document.getElementById('counter-data-34105').innerHTML = "26 550";
                                                        }
                                                    </script>
                                                </div>
                                            </header>
                                            <section class="entry-content"><h2 class="h1 h-entry"><span
                                                            class="siteHeader-header">Тест</span> Выживи на подводной
                                                    лодке Рейха</h2></section>
                                            <footer class="entry-footer"><p>Cпецпроект</p></footer>
                                        </div>
                                    </a></article>
                                <article id="post-35758"
                                         class="post-preview col o-0 format-elastic post-35758 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-biografija tag-deti tag-ljubov tag-medicina tag-semejnaja-drama tag-special"
                                         data-component-slug="longawaited-children-history"><img width="320"
                                                                                                 height="510"
                                                                                                 src="https://was.imgix.net/wp-content/uploads/2018/12/Child_was_cower_3.jpg?fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;rect=466%2C0%2C455%2C726&amp;w=320"
                                                                                                 class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                 alt="" data-feature="1"
                                                                                                 srcset=" "/> <a
                                            class="lnk-entry"
                                            href="https://was.media/2019-01-28-longawaited-children-history/"
                                            rel="bookmark">
                                        <div class="post-entry">
                                            <header class="entry-header">
                                                <div class="views-entry">
                                                    <svg class="icon icon-eye " aria-hidden="true" role="img">
                                                        <use href="#icon-eye" xlink:href="#icon-eye"></use>
                                                    </svg>
                                                    <div id="counter-data-35758">22073</div>
                                                    <script>
                                                        if ('off' === 'on') {
                                                            var xmlhttp = new XMLHttpRequest();
                                                            xmlhttp.onreadystatechange = function () {
                                                                if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                                                                    if (xmlhttp.status === 200) {
                                                                        document.getElementById('counter-data-35758').innerHTML = xmlhttp.responseText.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
                                                                    }
                                                                }
                                                            };
                                                            xmlhttp.open('GET', '/wp-content/plugins/fox-ajax-counter/ajax_counter.php?id=35758&count=off', true);
                                                            xmlhttp.send();
                                                        } else {
                                                            document.getElementById('counter-data-35758').innerHTML = "22 073";
                                                        }
                                                    </script>
                                                </div>
                                            </header>
                                            <section class="entry-content"><h2 class="h1 h-entry">Самые долгожданные
                                                    младенцы в истории</h2></section>
                                            <footer class="entry-footer"><p>Cпецпроект</p></footer>
                                        </div>
                                    </a></article>
                                <article id="post-42563"
                                         class="post-preview col o-0 format-elastic post-42563 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-vojna tag-evropa tag-igra-prestolov tag-special tag-srednevekove"
                                         data-component-slug="armii-prestolov-iskusstvo-pobezhdat"><img width="320"
                                                                                                        height="510"
                                                                                                        src="https://was.imgix.net/wp-content/uploads/2019/04/coverWAS_Igry_Prestolov_.png?auto=format&amp;fit=crop&amp;h=510&amp;q=75&amp;rect=144%2C0%2C464%2C739&amp;w=320"
                                                                                                        class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                        alt=""
                                                                                                        data-feature="1"
                                                                                                        srcset=" "/> <a
                                            class="lnk-entry"
                                            href="https://was.media/2019-04-15-armii-prestolov-iskusstvo-pobezhdat/"
                                            rel="bookmark">
                                        <div class="post-entry">
                                            <header class="entry-header"></header>
                                            <section class="entry-content"><h2 class="h1 h-entry">Искусство побеждать:
                                                    армии престолов в реальном мире</h2></section>
                                            <footer class="entry-footer"><p>Cпецпроект</p></footer>
                                        </div>
                                    </a></article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor_txt" style="">
                <div class="layout_main">
                    <div class="editor_offset editor_default"><h4><a
                                    href="https://was.media/wp-content/uploads/mediakit/mediakit_WAS.pdf">Медиакит</a>
                        </h4>
                        <p>pdf, 7 МБ</p>
                        <p>&nbsp;</p><h4><a href="https://was.media/tag/sponsorskij-material/">Примеры спонсорских
                                материалов</a></h4>
                        <p>&nbsp;</p><h4>Обсудить задачу:</h4>
                        <p>+380 95 072 82 64<br/><a href="mailto:team@was.media">team@was.media</a></p></div>
                </div>
            </div> <!-- No layouts in post --> </section>
    </article>

    <%- //include inc/comment     -%>

    <%- include inc/article-popular -%>
</main>

<%- include inc/footer -%>

<%- include inc/search-form -%>

<%- include inc/tags-nav -%>

<%- include inc/scripts -%>
